* {
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.side-nav {
	flex: 0 0 300px;
	display: flex;
	align-content: center;
	align-items: center;
	z-index: 1;
}

.side-nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top: 2px solid #528B8B;
}

.side-nav ul li {
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	text-transform: uppercase;
	color: #444444;
	border-bottom: 2px solid #528B8B;
	cursor: pointer;

	display: flex;
	align-items: center;
}

.side-nav ul li i {
	margin-right: 10px;
}

.side-nav ul li:hover {
	color: #474E64;
	border-bottom: 2px solid #474E64;
}

.main-content {
	flex: 1 1 auto;
	position: relative;
	border-left: 2px solid #474E64;
}

.topic-content {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.hidden {
	visibility: hidden;
}

.topic-title {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 25px;
	font-weight: bold;
	background: #FFF;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	padding: 15px 50px;
	line-height: normal;
}